*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  color: #1C252E;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  line-height: 200%;
  font-size: 12px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.subtitle {
  letter-spacing: 0.68em;
  text-transform: uppercase;
  color: #1C252E;
  font-weight: 700;
  line-height: 138%;
}
.title {
  font-weight: 600;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #1C252E;
}
.description {
  color: #1C252E;
  line-height: 138%;
}
body {
  overflow-x: hidden;
}
*[hidden] {
  display: none;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 1 100%;
}
.header-logo {
  text-align: center;
  margin-right: 13%;
}

.header {
  width: 100vw;
}
.header-header {
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  margin: 0 auto;
  padding: 27px 0 33px 0;
  height: 126px;
}

.header-header-container {
  max-width: 1620px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.header-list-item-tel {
  display: none;
}

.header-items {
  margin-right: 8.9%;
}

.header-list {
  display: flex;
  column-gap: 48px;
}

.header-tel .tel {
  display: block;
}

.header-tel-icon {
  display: none;
}

.header-list-item {
  list-style-type: none;
}

.header-list-item a {
font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  text-transform: uppercase;
  color: #1C252E;
  text-decoration: none;
}

.header-tel {
  margin-right: 5%;
}
.header-tel a{
  text-transform: uppercase;
  color: #1C252E;
  line-height: 150%;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}

.header-actions {
  display: flex;
  column-gap: 26px;
  flex-direction: row-reverse;
  align-items: center;
}

@media screen and (max-width:1605px) {
  .header-logo {
    margin-right: 8%;
  }
}
@media screen and (max-width:1500px) {
  .header-items {
    margin-right: 6%;
  }
}

@media screen and (max-width:1450px) {
  .header-logo {
    margin-right: 6%;
  }
  .header-items {
    margin-right: 4%;
  }
  .header-tel {
    margin-right: 3%;
  }
  .header-list {
    column-gap: 35px;
  }
}

@media screen and (max-width:1265px) {
  .header-tel .tel{
    display: none;
  }
  .header-tel-icon {
    display: block;
    transform: translateY(5px);
  }
  .header-tel {
    margin-right: 26px;
  }
}

@media screen and (max-width:1142px) {
  .header-list {
    display: grid;
    grid-template: 1fr 1fr / repeat(4,auto);
    gap: 20px 35px;
  }
  .header-items {
    margin-right: 10px;
  }
  .header-list li:nth-child(6) {
    order: 0;
  }
  .header-list li:nth-child(4) {
    order: 7;
  }
  .header-list li:nth-child(5) {
    order: 7;
  }
  .header-list-item-tel {
    display: block;
    order: 7;
  }
  .header-list-item-tel a {
    font-weight: 700;
  }
  .header-tel-icon {
    display: none;
  }
}
@media screen and (max-width:793px) {
  .menu-burger {
    display: block;
    width: 40px;
    height: 2px;
    background: #79B927;
    position: relative;
    transition: rotate 0.3s ease 0s;
    z-index: 1000000;
  }
  .menu-burger::after {
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 8px;
    left: 0;
  }
  .menu-burger-open .menu-burger::after {
    width: 30px;
    background-color: #000;
    top: 1px;
    rotate: -90deg;
  }
  .menu-burger-open .menu-burger {
    background-color: #000;
    width: 30px;
    rotate: 45deg;
    transition: rotate 0.3s ease 0s;
  }
  .header-logo {
    transform: translate(-50%,-20%);
    position: relative;
    left: 50%;
  }
  .header-header {
    height: 80px;
  }
  .header-actions {
    position: absolute;
    right: 20px;
    top: 0;
  }
  .menu-burg-wrapper {
    position: absolute;
    top: 0;
    left: 20px;
  }
  .header-items {
    transform: translateX(-180%);
    transition: transform 0.4s ease 0s;
  }
  .header-tel-icon {
    display: block;
  }
  .header-tel {
    position: absolute;
    right: 90px;
    top: -6px;
  }
  .header-list-item-tel {
    display: none;
  }
  .menu-burger-open .header-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .menu-burger-open .header-items {
    display: flex;
    background-color: #fff;
    width: 100vw;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    transform: translateX(0);
    z-index: 10000;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .menu-burger-open .header-list-item {
    font-size: 26px;
    line-height: 180%;
  }
}
@media screen and (max-width:679px) {
  .header-logo {
    transform: translate(-55%,-85%);
  }
}
@media screen and (max-width:481px) {
  .header-tel-icon {
    display: none;
  }
  .header-actions {
    column-gap: 10px;
  }
  .header-list-item-tel {
    display: block;
  }
}

.introdution {
  margin-top: 125px;
  vertical-align: top;
  background-image: url("../imajes/leaves.jpg");
  overflow-y: hidden;
}
.wrapper::-webkit-scrollbar {
  width: 0;
}

.introdution-container {
  padding-left: 125px;
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.introdition-text {
  display: flex;
  flex-direction: column;
}

.introdution-time {
  color: #79B927;
  font-weight: 600;
  font-size: 20px;
  line-height: 250%;
  position: relative;
}

.introdution-time::after {
  content: '';
  height: 2px;
  width: 44%;
  background-color: #79B927;
  position: absolute;
  top: 25px;
  left: 100px;
}

.introdution-description {
  max-width: 393px;
}
.introdution-img {
  margin-top: 10px;
}
.introdution-btn {
  align-self: start;
  background-color: #fff;
  padding: 5px 20px;
  margin-top: 20px;
}
.wrapper {
  overflow-x: hidden;
}
@media screen and (max-width:1470px) {
  .introdution-container {
    max-width: 100%;
    padding: 0 30px;
  }
  .introdution-btn {
    align-self: stretch;
  }
}
@media screen and (max-width:1200px) {
  .introdution-img {
    display: none;
  }
  .introdution-container {
    margin-top: 40px;
    justify-content: center;
  }
  .introdition-text {
    transform: translateY(-30px);
  }
}
@media screen and (max-width:425px) {
  .introdution-btn {
    align-self: stretch;
  }
  .introdution-time::after {
    width: 170px;
  }
  .introdution-time {
    color: #4e7c12;
  }
  .introdution-sub-title {
    letter-spacing: 0.2em;
  }
  .introdition-text {
    padding-right: 5px;
  }
  .introdution-title {
    font-size: 45px;
    line-height: 140%;
  }
  .introdution-description {
    font-size: 12px;
    line-height: 200%;
    font-weight: 600;
  }
}
.goods {
  margin-top: 100px;
  display: block;
}

.goods-container {
  max-width: 1650px;
  margin: 0 auto;
  padding: 0 25px;
}

.goods-titles {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 70px;
}
.goods-allsubtitles {
  display: flex;
}
.goods-sort {
  display: flex;
}

.goods-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 281%;
  color: #1C252E;
}
.card-title::after {
  content: '35 грамм';
  position: absolute;
  bottom: -45px;
  left: 0;
  display: block;
  margin-bottom: 20px;
  color: #88929E;
  line-height: 200%;
  font-size: 12px;
  font-weight: 400;
}

.goods-subtitles {
  display: flex;
  column-gap: 50px;
}

.goods-subtitle {
  line-height: 171%;
  color: #5B6773;
  font-weight: 600;
  font-size: 12px;
  line-height: 200%;
}
.card-img {
  position: relative;
  top: 30px;
}
.goods-cards {
  width: 100vw;
  min-width: 0;
}
.goods-card-container {
  min-width: 0;
  display: grid;
  margin: 0 auto;
  gap: 93px 108px;
  grid-template-columns: repeat(auto-fit,minmax(470px,160px));
  justify-content: center;
}

.card-labels {
  display: flex;
  justify-content: space-between;
}

.card-title {
  line-height: 233%;
  font-size: 18px;
  font-weight: 700;
  color: #1C252E;
  text-transform: uppercase;
  position: relative;
}

.card-label {
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  position: relative;
}
.card-label::after {
  content: '';
  position: absolute;
  display: block;
  top: -1px;
  left: -11px;
  width: 50px;
  height: 20px;
  background-color: #79B927;
  z-index: -1;
}
.card-description {
  line-height: 162%;
  color: #1C252E;
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translateY(-50%);
}
.card-arrow {
  left: 60%;
  top: 65%;
  position: absolute;
}
.card-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #5B6773;
  position: absolute;
  bottom: 0;
  right: 0;
}
.good-card {
  position: relative;
}
.goods-line {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.goods-btn {
  position: relative;
  padding: 15px 30px;
}
.goods-btn::after {
  content: '';
  display: block;
  background: #79B927;
  position: absolute;
  right: 170px;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 270%;
}
.goods-btn::before {
  content: '';
  display: block;
  background: #79B927;
  position: absolute;
  left: 170px;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 270%;
}
@media screen and (max-width:1100px) {
  .goods-card-container {
    gap: 70px 80px;
    grid-template-columns: repeat(auto-fit, minmax(380px, 160px));
  }
  .card-description {
    max-width: 100px;
    left: 65%;
  }
  .card-arrow {
    top: 45%;
    left: 92%;
  }
  .card-price {
    bottom: -30px;
  }
}
@media screen and (max-width:900px) {
  .card-description {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    transform: translateY(118px);
  }
  .goods-card-container {
    gap: 120px 80px;
    grid-template-columns: repeat(auto-fit,250px);
  }
  .card-price {
    position: absolute;
    bottom: -100px;
    right: 0;
  }
  .card-arrow {
    display: block;
    position: absolute;
    transform: translateY(145px);
    bottom: 0;
    left: 41%;
  }
}
@media screen and (max-width:670px) {
  .goods-card-container {
    grid-template-columns: repeat(auto-fit, minmax(480px, 290px));
  }
  .card-description {
    left: 60%;
    top: 50%;
    transform: translateY(-50%);
    max-width: 200px;
  }
  .card-arrow {
    left: 60%;
    top: 0;
  }
  .card-price {
    bottom: -50px;
  }
}
@media screen and (max-width:549px) {
  .card-description {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    transform: translateY(118px);
  }
  .goods-btn {
    margin-top: 50px;
    flex: 0 0 290px;
  }
  .goods-title {
    font-size: 25px;
    letter-spacing: 0.05em;
  }
  .goods-card-container {
    grid-template-columns: repeat(auto-fit, 290px);
  }
  .card-description {
    max-width: 100px;
  }
  .card-arrow {
    top: 105px;
    left: 37%;
  }
  .card-price {
    bottom: -85px;
  }
  .goods-btn::after,.goods-btn::before {
    display: none;
  }
}
@media screen and (max-width:400px) {
  .goods-title {
    font-size: 19.54px;
  }
  .good-card {
    transform: translateX(-35px);
  }
}
@media screen and (max-width:925px) {
  .goods-titles {
    display: block;
  }
  .goods-title {
    text-align: center;
    margin-bottom: 10px;
  }
  .goods-subtitles {
    justify-content: center;
  }
}
@media screen and (max-width:460px) {
  .goods-subtitles {
    column-gap: 30px;
  }
}
@media screen and (max-width:400px) {
  .goods-subtitles {
    column-gap: 17px;
  }
  .goods-subtitle {
    font-size: 10px;
  }
}
.recruitment-body {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.recruitment-btns {
  display: flex;
  column-gap: 10px;
}

.recruitment-btn-details {
  flex: 0 0 180px;
  padding: 10px 0;
}

.recruitment-btn-buy {
  flex: 0 0 140px;
  background: #79B927;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.recruitment {
  width: 100vw;
  background: #F6F6F6;
  margin-top: 115px;
}
.recruitment-header {
  border-bottom: 1px solid #000;
}
.recruitment-header-container {
  max-width: 1632px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 54px 15px 29px 15px;
}
.recruitment-header-title {
  margin-right: 25%;
  font-weight: 700;
  font-size: 32px;
  line-height: 281%;
  color: #1C252E;
}

.recruitment-header-items {
  display: flex;
  column-gap: 49px;
  margin-right: 9%;
} 
.recruiment-header-arrow {
  border: 1px solid #000;
  border-radius: 50%;
  padding: 3px;
  text-align: center;
}
.recruiment-header-arrow img {
  position: relative;
  top: -1px;
}
.recruitment-header-item {
  list-style-type: none;
  color: #5B6773;
  line-height: 133%;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.recruitment-body-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #5B6773;
  margin-bottom: 10px;
}
.recruitment-body-description {
  margin-bottom: 10px;
  max-width: 400px;
}
.recruitment-body-img img{
  max-width: 100%;
  object-fit: cover;
}
@media screen and (max-width:1424px) {
  .recruitment-body {
    flex-direction: column;
  }
  .recruitment-body-content {
    margin-top: 40px;
  }
  .recruitment-header-title {
    margin-right: 10%;
  }
  .recruitment {
    padding-bottom: 90px;
  }
}
@media screen and (max-width:1150px) {
  .recruitment-header-items {
    display: grid;
    grid-template: auto auto/auto auto;
    gap: 30px 50px;
  }
  .recruitment-header-item:last-child {
    order: 0;
  }
  .recruitment-header-item:nth-child(3) {
    order: 2;
  }
  .recruitment-header-item:nth-child(2) {
    order: 2;
  }
  .recruiment-header-arrow {
    position: absolute;
    right: 50px;
  }
}
@media screen and (max-width:792px) {
  .recruitment-header-container {
    display: block;
  }
  .recruitment-header-title {
    text-align: center;
    margin-left: 50px;
    margin-bottom: 15px;
  }
  .recruitment-header-items {
    display: flex;
  }
  .recruiment-header-arrow {
    display: inline-block;
    transform: translateY(-28px);
    position: absolute;
    right: 35px;
  }
}
@media screen and (max-width:745px) {
    .recruitment-header-items {
      display: grid;
      grid-template: auto auto/auto auto;
      gap: 20px 50px;
    }
    
    .recruitment-header-item:last-child {
      order: 0;
    }
    .recruitment-header-item:nth-child(3) {
      order: 2;
    }
    .recruitment-header-item:nth-child(2) {
      order: 2;
    }
    .recruiment-header-arrow {
      transform: translateY(-60px);
    }
}
@media screen and (max-width:630px) {
    .recruiment-header-arrow {
      display: none;
    }
    .recruitment-header-items {
      width: 100vw;
      justify-items: center;
    }
}
@media screen and (max-width:485px) {
  .recruitment-body-price {
    text-align: right;
    margin-top: -5px;
    padding-right: 10px;
  }
  .recruitment-header-item {
    font-size: 15.5px;
  }
  .recruitment-header-title {
    font-size: 20px;
  }
  .recruitment-header-items {
    padding-right: 22px;
    gap: 20px 30px;
  }
  .recruitment-header-title {
    font-size: 27px;
    margin-bottom: 10px;
  }
    .recruitment-body-subtitle {
      letter-spacing: 0.2em;
      text-align: center;
    }
  
    .recruitment-body-description {
      text-align: center;
      font-size: 14px;
      padding-left: 5px;
      line-height: 200%;
      font-weight: 400;
    }
  
    .recruitment-body-title {
      font-size: 45px;
      line-height: 140%;
      text-align: center;
    }
  
    .recruitment-btns {
      column-gap: 0;
      justify-content: center;
    }
    .recruitment-btn-details {
      border-right: 0;
    }
    .recruitment-btn-buy {
      border: 1px solid black;
      border-left: 0;
    }
}
.benefits {
  margin-top: 100px;
}
.benefits-container {
  margin: 0 auto;
  max-width: 1542px;
  padding: 0 15px;
}

.benefits-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 281%;
  color: #1C252E;
  margin-left: 15px;
}

.benefits-content {
  display: flex;
  column-gap: 29px;
  padding: 0 15px;
}

.content-logo {
  position: relative;
  bottom: 50%;
  left: 50%;
  transform: translateX(-25%);
}

.benefits-cards {
  display: grid;
  background-color: #F5F5F5;
  padding-top: 51px;
  grid-template-columns: repeat(auto-fit,387px);
  align-items: center;
  grid-template-rows: auto auto;
  gap: 0 71px;
  flex: 1 1 auto;
  height: 455px;
  justify-content: center;
}

.benefits-card {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  position: relative;
  padding-left: 85px;
}
.benefits-card.second .benefits-card-icon {
  background: url('../imajes/02.svg');
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: -20px;
  left: 0;
  width: 80px;
  height: 80px;
}
.benefits-card.third  .benefits-card-icon{
  background-image: url('../imajes/03.svg');
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: -20px;
  left: 0;
  width: 80px;
  height: 80px;
}
.benefits-card.first .benefits-card-icon{
  background-image: url('../imajes/01.svg');
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: -20px;
  left: 0;
  width: 80px;
  height: 80px;
}
.benefits-card.forth .benefits-card-icon{
  background-image: url('../imajes/04.svg');
  display: block;
  position: absolute;
  top: -20px;
  left: 0;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}

.benefits-card-description {
  color: #1C252E;
  line-height: 162%;
}

.content-bg.second {
  display: none;
}

.benefits-card-title {
  line-height: 160%;
  color: #1C252E;
  font-weight: 700;
}
@media screen and (max-width:1390px) {
  .content-bg.second {
    display: block;
    margin-top: -5px;
  }
  .benefits-cards {
    row-gap: 60px;
    height: 910px;
    padding-bottom: 10px;
  }
}
@media screen and (max-width:915px) {
  .content-bg.second {
    display: block;
  }
  .benefits-content {
    flex-direction: column;
  }
  .content-bg-container {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: -1;
  }
  .content-bg.second {
    margin-top: 0;
  }
  .content-logo {
    transform: translate(-110px,-270px);
    z-index: 10;
  }
  .benefits-title {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .benefits-cards {
    margin-top: -108px;
    padding-top: 40px;
    width: 100vw;
    transform: translateX(-30px);
    gap: 50px 70px;
    height: 400px;
  }
}
@media screen and (max-width:844px) {
  .benefits-cards {
    height: auto;
  }
}
@media screen and (max-width:426px) {
  .benefits-title {
    font-size: 25.16px;
  }
  .benefits-card-title {
    font-size: 14px;
  }
  .benefits-card-icon {
    transform: translateX(26px);
    width: 60px;
    height: 60px;
  }
}
.call {
  margin-top: 100px;
}

.call-container {
  max-width: 1632px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-text {
  display: flex;
  flex-direction: column;
  margin-top: -400px;
}

.call-description {
  max-width: 600px;
  margin: 10px 0 30px 0;
}
.call-btn {
  align-self: flex-start;
  padding: 7px 40px;
}
.call-imgs {
  position: relative;
}
.call-img-woman {
 display: block;
 width: 400px;
 height: 600px;
 margin-left: 170px;
 position: relative;
 z-index: 2;
}
.call-img-arrow {
  padding: 40px;
  transform: translateY(-490px);
  border: 5px solid rgba(91, 103, 115, 0.2);
}
@media screen and (max-width:1490px) {
  .call-container {
    flex-direction: column;
  }
  .call-img-arrow {
    transform: translateY(-680px);
  }
  .call-imgs {
    margin-top: 50px;
  }
  .call-text {
    margin-top: 0;
  }
  .call-img-woman {
    right: -30px;
    bottom: 195px;
  }
  .call-description,.call-btn {
    transform: translateY(650px);
  }
  .call-btn {
    align-self: center;
  }
}
@media screen and (max-width:830px) {
  .call-img-arrow {
    width: 310px;
    transform: translate(130px,-680px);
    padding: 10px 0;
  }
  .call-img-source-arrow {
    position: relative;
    left: 10px;
  }
  .call-img-woman {
    bottom: 125px;
  }
  .call-imgs {
    transform: translateY(-40px);
  }
  .call-description,.call-btn {
    transform: translateY(260px);
    align-self: center;
    text-align: center;
  }
}
@media screen and (max-width:670px) {
  .call-subtitle {
    letter-spacing: 0.3em;
    text-align: center;
  }
  .call-title {
    font-size: 45px;
    text-align: center;
  }
}
@media screen and (max-width:500px) {
  .call-title {
    font-size: 30px;
  }
  .call-subtitle {
    letter-spacing: 0.2em;
    font-size: 12.2px;
  }
  .call-imgs {
    transform: translateY(-80px);
  }
  .call-btn {
    align-self: stretch;
  }
  .call-description {
    font-size: 14px;
  }
  .call-description,.call-btn {
    transform: translateY(250px);
  }
}
.images {
  width: 100vw;
  display: flex;
  margin-top: -130px;
}

.images-description {
  width: 100%;
  background-color: #88929E;
  background: linear-gradient(270.74deg, #88929E 6.57%, #5B6773 99.08%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.images-description-container {
  max-width: 739px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.description-container-text {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}
.images-subtitle,.images-title,.images-description,.images-btn {
  color: #fff;
}
.images-description-description {
  max-width: 420px;
}
.images-btn {
  margin-top: 25px;
  border: 1px solid rgb(255, 255, 255);
  min-width: 180px;
  min-height: 40px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
@media screen and (max-width:1470px) {
  .imajes-img {
    display: none;
  }
  .images-description {
    width: 100vw;
    padding-bottom: 50px;
  }
  .images-description-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .description-container-text {
    border: 10px solid rgba(91, 103, 115, 0.2);
    padding: 60px;
  }
}
@media screen and (max-width:830px) {
  .images {
    margin-top: -380px;
  }
}
@media screen and (max-width:769px) {
  .images-description-container {
    display: block;
  }
  .images-btn {
    align-self: center;
    min-width: 300px;
  }
  .images-description-container-img {
    display: none;
  }
  .images-description-description::after {
    content: '';
    position: relative;
    top: 20px;
    left: 50%; 
    transform: translateX(-50%);
    background-size: contain;
    background-image: url("../imajes/images-product.png");
    display: block;
    width: 60px;
    height: 200px;
  }
  .images-btn {
    position: relative;
    top: 20px;
  }
  .images-title,.images-subtitle {
    text-align: center;
  }
  .images-description-description {
    align-self: center;
  }
}
@media screen and (max-width:788px) {
  .images-subtitle {
    text-align: center;
    letter-spacing: 0.3em;
  }
  .images-title {
    text-align: center;
    font-size: 48px;
  }
  .images-description-description {
    font-size: 14px;
    text-align: center;
  }
  .description-container-text {
    margin-right: 0;
    justify-content: center;
  }
}
@media screen and (max-width:502px) {
  .images-title {
    font-size: 38px;
  }
  .description-container-text,.images-description-container {
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
    align-items: center;
  }
  .images-subtitle {
    letter-spacing: 0.3em;
    font-size: 13.2px;
  }
}
.reviews {
  margin-top: 93px;
}

.reviews-container {
  max-width: 1624px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.reviews-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 281%;
  color: #1C252E;
  margin-bottom: 50px;
}

.reviews-items-container {
  min-width: 0;
  width: 100%;
}

.reviews-item {
  max-width: 400px;
  padding-top: 70px;
}

.reviews-items {
  align-items: center;
}

.reviews-item::before {
  content: '“';
  position: absolute;
  font-size: 64px;
  font-weight: 700;
  top: 0;
  left: 0;
}

.reviews-item-main {
  padding-bottom: 18px;
  border-bottom: 3px solid #79B927;
}

.item-main-description {
  line-height: 26px;
}

.item-main-description.unique {
  padding-bottom: 27px;
}

.reviews-item-signature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-signature-who {
  margin-top: 44px;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
}

.item-signature-job {
  color: #C4C4C4;
  line-height: 171%;
}

.reviews-pagination {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  border: 1px solid black !important;
  width: 7px !important;
  height: 7px !important;
  background-color: transparent !important;
}

.swiper-pagination-bullet-active {
  background: #79B927 !important;
  border: 1px solid #D9D9D9 !important;
  width: 7px !important;
  height: 7px !important;
}
.subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 109px;
  padding: 0 15px;
  background-position: center center;
  background-image: url(../imajes/subscribe-bg.jpg);
  min-height: 660px;
  background-repeat: no-repeat;
}
.subscribe-subtitle,.subscribe-title {
  color: #fff;
}

.subscribe-form {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.subscribe-form input[type="text"] {
  text-align: center;
  min-height: 40px;
  flex: 0 0 333px;
  outline: none;
}
.subscribe-form input[type="submit"] {
  outline: none;
  display: block;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-left: 0px solid red;
  padding: 0 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 171%;
  font-size: 12px;
  font-weight: 500;
}
@media screen and (max-width:1000px) {
  .subscribe-title {
    font-size: 40px;
  }
}
@media screen and (max-width:615px) {
  .subscribe-title {
    font-size: 35px;
  }
}
@media screen and (max-width:537px) {
  .subscribe-form {
    display: block;
  }
  .subscribe-form input[type="text"],.subscribe-form input[type="submit"] {
    width: 90vw;
  }
  .subscribe-form input[type="submit"] {
    margin-top: 10px;
    padding: 7px 20px;
    border-left: 1px solid #fff;
  }
  .subscribe-subtitle {
    letter-spacing: 0.3em;
    font-size: 14px;
  }
  .subscribe-title {
    font-size: 18px;
  }
}
input.correct{
  border: 2px solid rgb(0, 255, 55);
}
input.wrong {
  border: 2px solid red;
}
input.btn.disabled {
  cursor: not-allowed;
  background-color: #1C252E;
  opacity: 0.3;
}
.subscribe-form input[type="submit"]:hover
.pop-up {
  text-align: center;
  position: fixed;
  display: block;
  width: 100vw;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.5em;
  z-index: 100;
  font-weight: 700;
  perspective-origin: center;
  animation: pop-up 2s linear 2 alternate 0s forwards;
}
.delete {
  display: none;
}
@keyframes pop-up{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.footer {
  padding: 66px 0 35px 0;
  width: 100vw;
  background: #1C252E;
}

.footer-container {
  margin: 0 16vw 0 8vw;
}

.footer-firstRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.firstRow-items {
  display: flex;
  column-gap: 3vw;
}

.firstRow-item {
  color: #FFFFFF;
  opacity: 0.3;
  line-height: 150%;
  font-weight: 600;
}

.footer-secondRow {
  margin-top: 45px;
  display: flex;
  justify-content: flex-end;
  column-gap: 4.9vw;
}

.secondRow-info {
  display: flex;
  column-gap: 2.8vw;
}

.secondRow-address,.secondRow-tel,.secondRow-email {
  position: relative;
  color: #5B6773;
  font-size: 12px;
  line-height: 200%;
}

.footer-thirdRow {
  margin-top: 55px;
  display: flex;
  justify-content: flex-end;
  max-width: 1377px;
  padding: 0 15px;
  max-width: 1347px;
  column-gap: 49vw;
}

.thirdRow-copyright {
  color: #5B6773;
  font-size: 12px;
  line-height: 200%;
}

.thirdRow-pays {
  display: flex;
  column-gap: 1vw;
}

.pays-item {
  mix-blend-mode: saturation;
}
@media screen and (max-width:1350px) {
  .footer-thirdRow {
    column-gap: 27vw;
  }
  .footer-firstRow {
    display: block;
  }
  .firstRow-items {
    justify-content: center;
  }
  .footer-secondRow,.footer-thirdRow {
    justify-content: center;
  }
  .firstRow-logo {
    margin-bottom: 20px;
    text-align: center;
  }
  .footer-container {
    margin: 0;
    padding: 0 15px;
  }
}
@media screen and (max-width:675px) {
  .firstRow-items {
    row-gap: 15px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .secondRow-info {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .firstRow-item {
    font-size: 14px;
  }
  .footer-thirdRow {
    column-gap: 50px;
  }
}
@media screen and (max-width:450px) {
  .footer-thirdRow {
    position: relative;
    right: 15px;
    margin-right: 100px;
    margin-top: 0;
    flex-direction: column-reverse;
  }
  .footer-secondRow {
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
  }
  .secondRow-socialNetworks {
    margin-top: 10px;
  }
}
@media (any-hover: hover) {
  .header-list-item:hover,.goods-subtitle:hover,.card-description:hover,.recruitment-header-item:hover,.item-signature-who:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #1C252E;
  }
  .recruitment-btn-buy:hover {
    background-color: #fff;
    color: #1C252E;
    border: 1px solid #000;
  }
  .btn:hover {
    background-color: #4e7c12;
    color: #fff;
  }
  .images-btn:hover {
    background: linear-gradient(270.74deg, #565b62 6.57%, #8ca3b9 99.08%);
  }
  .subscribe-form input[type="submit"]:hover {
    background-color: #4e7c12;
    color: #fff;
  }
  .firstRow-item:hover,.secondRow-info > *:hover {
    color: #fff;
    text-decoration: underline;
    opacity: 1;
  }
}
.recruitment-header-item.current {
  padding-bottom: 7px;
  border-bottom: 4px solid #79B927;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.goods-subtitle.current {
  color: #1C252E;
  font-weight: 700;
  line-height: 171%;
  padding-bottom: 5px;
  border-bottom: 2px solid #79B927;
}
